:root {
  --font-title: var(--font-playfair);
  --font-body: var(--font-lato);

  --bg: #0d0d0d;
  --text: #e5e7eb;
  --accent: #facc15;

  --accent-soft: #facc1588;
  --accent-glow: rgba(250, 204, 21, 0.25);
  --accent-deep: #bfa316;
  --border: #1f1f1f;
  --glass-bg: rgba(255, 255, 255, 0.05);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  color: var(--text);
}

p,
li,
ul,
a,
button {
  font-family: var(--font-body);
  color: var(--text);
}

a {
  text-decoration: none;
  cursor: pointer;
}

li,
ul {
  list-style: none;
}

section {
  z-index: 900;
}
